# Avoid uploading compiled files
codeforces/*.out
uva/*.out

# Avoid uploading python bytecode files
codeforces/*.pyc
uva/*.pyc

# Avoid uploading input/output files
# gitignore uses GLOB instead of regex matching so * can't be used
# and redundance is necessary
codeforces/in
codeforces/in[0-9]
codeforces/out
codeforces/out[0-9]
uva/in
uva/in[0-9]
uva/out
uva/out[0-9]

